// CORE SCSS

//IMPORTED PARTIALS
@import 'components/reset';
@import 'components/fontfaces';

//MASTER CONTROLS

body{
  height: 100vh;
  width: 100vh;
  font-size: 100%;
  background-color: #FFFFFF;
  font-family: 'Avenir Next', sans-serif;
  font-weight: 300;
}
