// CORE SCSS

//IMPORTED PARTIALS
@import 'components/reset';
@import 'components/fontfaces';
@import "components/typestyles";
@import 'components/navbar';
@import "components/jumbotron";
//MASTER CONTROLS

body{
  height: 100vh;
  width: 100vh;
  font-size: 100%;
  background-color: #FFFFFF;
  font-family: 'Avenir Next', sans-serif;
  font-weight: 300;
}

//SUPER Classes


.contentWrapper{
  width: 1000px;
  margin: 0 auto;
}

//SUPER BUTTONS

.ctaBlueButton{
  height: 44px;
  width: auto;
  background-color: #1BA2DB;
  padding: 0px 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgba(255,255,255,.95);
  text-transform: uppercase;
  letter-spacing: .1em;
  font-size: .9em;
  margin: 10px 0px;
  cursor: pointer;
  user-select: none;
  transition: .5s;

  &:hover{
    background-color: #1589CA;
    transition: .5s;
  }
}
